.element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
