.header__logo {
    margin: 0 0 10px;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 559px) {
    .header__logo {
        margin-left: 27px;
        width: 103.74px;
        height: 24.4px;
    }
}