.popup__button {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  border: none;
  border-radius: 1px;
  height: 50px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 519px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}