.profile__name-button {
  display: flex;
  align-items: baseline;
  flex-wrap: no-wrap;
  gap: 18px;
}

@media screen and (max-width: 699px) {
  .profile__name-button {
    gap: 10px;
    justify-content: center;
    width: calc(100vw - 37px*2);
    min-width: calc(320px - 37px*2);
  }
}